body {
  display: flex;
  background-color: #FFFFFF;
  flex-direction: column;
  align-items: center;
}


#carousel,
.carousel-image {
  width: 400px;
  height: 400px;
}

#carousel {
  position: relative;
  overflow: hidden;
}

/* Images */

#carousel-image-row {
  display: flex;
  position: relative;
  left: 0px;
  transition: 0.5s left;
}

.carousel-image img {
  height: 100%;
  width: auto;
}

.hidden {
  visibility: hidden;
}


#carousel-controls {
position: absolute;
top: 0%;
left: -80%;
/* transform: translateY(-50%,-50%); */
width: 100%;
display: flex;
justify-content: space-between;
z-index: 1;
}

#button-next,
#button-previous {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  scale: 15%;

}

h1, h2, h3 {
  font-family: 'PT Sans', sans-serif;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 3.5vh;
}

h2{
  font-size: 2.5vh;
  text-align: left;
  padding-left: 8px;
}

#instaPost {
  position: relative;
  background-color: #FAFAFA;
  padding: 0%;
  width: 400px;
  border: 5px rgb(143, 143, 143);
}

#instaBar img{
  padding: 8px 8px;
  height: 24px;
}

h3 {
  position: absolute;
  color: rgba(0, 0, 0, 0.658);
  font-size: 2.5vh;
  margin: 0px 8px;
  width: 380px;
  text-align: justify;
  left: 0px;
  top: 487.5px;
}

.tab {
  display: inline-block;
  margin-left: 48px;
}